@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: red 1px solid; */
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
}html{
    scroll-behavior: smooth;
}

header{
    /* background: #EBF0F9; */
    /* background-color: #E8E8E8; */
    background-color: #E6FAF5;
    height: 110px;
    position: sticky;
    width: 100%;
    z-index: 99;
    /* border: black 2px dotted; */
    display: flex;
    align-items: center;
}
.scroll-nav{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    color: white;
    transform: scale(2);
    transition: 1.5s infinite;
    background-color: black;
}
.logo{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
     color: #000000;
}
.nav-btns{
    font-size: 1.2rem;
}
.head-wrapper{
    width: 1100px;
    /* border: black 2px dotted; */
    margin: auto;
}
.wrapper{
    width: 1100px;
    /* border: black 2px dotted; */
    margin: auto;
}
.header-container{
    position: relative;
    display: flex;
    height: 110px;
    justify-content: space-between;
    align-items: center;
}
.nav-btns ul{
  display: flex;
  justify-content: space-between;
}
.nav-btns ul li{
    list-style-type: none;
}
.nav-btns ul li a{
    display: block;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
}
.active{
    display: block;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
}
.nav-btns ul li a:hover{
    color: white;
    background-color: #003440;
}
.nav-small-screen{
    display: none;
}
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: grid;
    place-items: center;
    background-color: #EFF7F2;
    color: white;
    font-size: 4rem;
    transition: 10s;
}
/* end of header */
/* hero-section */
.hero{
    background-color: #ffffff;
    padding-top: 200px;
    /* border: solid orange 1px; */
    height: 600px;
    color: #000000;
}
.hero-content h3{
    font-family: 'Roboto Mono', monospace;
    /* font-size: 5rem; */
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.hero-content p{
    font-size: 2rem;
    margin-bottom: 15px;
}
/* .hero-content h3 span{
    color: #90EE90;
} */
.hero-content  span{
    /* color: #606060; */
    color: #006B6C;
}
/* end of hero section */

/* about section */
.about-me{
    /* background-color: #E8E8E8; */
    background-color: #FFEBEB;
    height: 670px;
    /* border: solid orange 1px; */
}
.about-me .wrapper{
    /* border: solid orange 2px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-me .text-content{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    /* border: solid orange 2px; */
}
.about-me .text-content h3{
    color: #003440;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
}
.about-me .text-content p{
    line-height: 15px;
    font-size: 1rem;
}
.about-me .photo{
    height: 77%;
    width: 350px;
    border-radius: 12px;
    border: solid #003440 5px;
    position: relative;
    display: none;
}
.about-me .photo img{
    position: absolute;
    border-radius: 12px;
    bottom: 5%;
    left: 8%;
    max-width: 350px;
    min-height: 100%;
}
.btn{
    
   max-width: 100px;
    font-size: 1rem;
    padding: 12px;/*
    display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #606060;/ */
    background-color: #003440;
    color: white;
    border-radius: 10px;
}
.text-content span{
    color: #003440;
    font-weight: 600;
}
.top{
    font-size: 3rem;
    /* position: fixed; */
    position: fixed;
    right: 5%;
    bottom: 0%;
    border: black;
    z-index: 999;
    visibility: hidden;
    
}
.show{
    visibility: visible;
}
/* end of about section */
/* Services */
.services{
    background-color: #ffffff;
    height: 585px;
    padding: 30px 0 0 0;
    /* border: solid 3px #f78702; */
}
.service-card{
    font-family: 'Roboto Mono', monospace;
    background-color: #EFF7F2;
    border-radius: 15px;
    /* border: double blue 4px; */
    width: 29%;
    height: 370px;
    -webkit-box-shadow: 0px 0px 48px -2px rgba(0,0,0,0.68); 
box-shadow: 0px 0px 48px -2px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
}
.service-svg{
    display: grid;
    place-items: center;

}
.service-card h4{
    font-size: 1.4rem;
    font-weight: 600;
}
.service-card ul{
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
    align-items: flex-end;
}
.service-card ul li{
    display: inline-block;
    /* padding: 12px; */
    font-size: 1.5rem;
    list-style-type: none;
}
.service-container{
    display: flex;
    justify-content: space-between;
}
.middle-service-card{
    /* background-color: #ffcd9b7b; */
    background-color: #fffff2;
}
.service-description span{
    color: #606060;
}
/* repo section */
.repo {
    height: 850px;
    padding: 50px 0;
    /* background: #E8E8E8; */
    background-color: #E6F4FF;
}
.repo-text{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 40px;
    font-size: 2.5rem;
}
.projects-container{
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.last-card{
    margin: auto;
}
.card{
    border-radius: 12px;
    position: relative;
    height: 250px;
    width: 46%;
}
.image-card{
    height: 100%;
}
.image-card img{
    height: 100%;
    border-radius: 12px;
    
}
.text-card{
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: #f7890228;
    width: 100%;
    color: #ffffff;
    height: 100%;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1.5s;
}

.card:hover .text-card{
    -webkit-box-shadow: 0px 0px 46px -8px rgba(247,135,2,0.83); 
    box-shadow: 0px 0px 46px -8px rgba(247,135,2,0.83);
    color: #ffffff;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  
}
.text-card div span a{
    color: #ffffff;
}
.card:hover .text-card p, .card:hover .text-card h4{
    display: none;
    transition: 2s;
}
/* .second-card:hover .text-card{
    color: #ffffff;
    backdrop-filter: none;
    visibility: hidden;
    left: 100%;
} */

.text-card h4{
    text-align: center;
    font-size: 1.4rem;
}
.text-card p{
    font-family: 1.2rem;
    line-height: 20px;
}
.text-card div{
    width: 50%;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
}
.other-projects{
    font-size: 1.2rem;
    margin: 50px auto;
    width: 200px;
    display: grid;
    border: #003440 1px solid;
    border-radius: 10px;
    place-items: center;
    transition: 0.5s;
    height: 50px;
    background-color: #003440;
}
.other-projects:hover{
    background-color: inherit;
}
.other-projects:hover a{
    color: #003440;
}

.other-projects a{
    color: #ffffff;
}
/* footer */
#contact{
    height: 320px;
    background-color: #ffffff;
}
section .wrapper{
    height: 100%;
}
.footer-content h3{
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}
.footer-content p{
    text-align: center;
    font-size: 1.3rem;
}
.footer-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.mail{
    font-size: 1.2rem;
    color: #003440;
}
.socials{
    display: flex;
}
.socials li{
    list-style-type: none;
}
.socials a{
    font-size: 1.3rem;
    display: grid;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    place-items: center;
    margin: 8px;
    background-color: #003440;
    border: solid 2px #003440;
    transition: 1.2s;
}
.socials a:hover{
    color: #003440;
    background-color: #ffffff;
}
/* Tablet */
@media screen and (max-width: 1025px) {
    .wrapper{
        width: 80%;
    }
    .head-wrapper{
        width: 95%;
    }
    .header-container{
        height: 100px;
    }
    header{
        height: 100px;
    }
    .logo, .nav-small-screen{
        font-size: 1.8rem;
    }
    .nav-btns{
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: transparent;
        top: 100px;
        display: none;
        position: absolute;
        width: 100%;
        /* transition: 2s; */
        z-index: 100;
        font-weight: 100;
    }
    .nav-small-screen{
        display: block;
    }
    .nav-btns ul{
        text-align: left;
        flex-direction: column;
    }
    .nav-btns ul li{
        border-bottom: 2px  #EFF7F2 solid;
    }
    .nav-btns ul li a{
         color: rgb(0, 0, 0);
    }
    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75vh;
    }
    .hero-content h3{
        font-size: 4rem;
    }
    .hero-content p{
        font-size: 1.8rem;
    }
    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    .about-me .wrapper{
        height: 80%;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .about-me .photo{
        width: 320px;
        display: none;
    }
    .about-me .photo img{
        bottom: 5%;
        left: 10%;;
        /* transform: scale(0.9);  */
    }
    .about-me .text-content{
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    .about-me .text-content h3{
        font-size: 2.2rem;
    }
    .about-me .text-content p{
        font-size: 1.1rem;
    }
    .about-me .photo{
        height: 52%; 
    }
    .btn{
        font-size: 1rem;
    }
    .repo{
        height: 1150px;
    }
    .repo-text{
        font-size: 2.2rem;
    }
    .projects-container{
        width: 100%;
        align-items: center;
        flex-direction: column;

    }
    .card{
        width: 90%;
        /* margin: auto; */
    }
    .image-card img{
        min-width: 100%;
        width: 100%;
    }
    .services{
        height: 1370px;
    }
    .service-card{
        width: 70%;
    }
    .service-container{
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
    .footer-content h3{
        font-size: 2.5rem;
    }
    .footer-content p{
        font-size: 1.1rem;
    }
} 

@media screen and (max-width: 520px) {
/* Mobile */
    
    .wrapper{
        width: 90%;
    }
    .logo, .nav-small-screen{
        font-size: 1.8rem;
    }
    .header-container{
        height: 110px;
    }
    header{
        height: 110px;
    }
    .nav-btns{
        top: 110px;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 105px 0;
        height: 500px;
    }
    .hero-content h3{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 1.1rem;
    }
    .about-me{
        height: 1000px;
    }
    .about-me .wrapper{
        justify-content: space-around;
        height: 90%;
    }
    .about-me .photo{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;
        width: 90%;
    }
    .about-me .photo img{
        left: 0;
        max-width: 300px;
        position: relative;
        transform: scaleY(0.9);

    }
    .about-me .text-content{
        height: 50%;
        width: 100%;
        justify-content: space-between;
    }
    .about-me .text-content h3{
        font-size: 1.5rem;
    }
    .about-me .text-content p{
        font-size: 1rem;
        line-height: 22px;
    }
    .btn{
        font-size: 0.9rem;
    }
    .text-card{
        padding: 30px;
    }
    .repo-text{font-size: 1.7rem;
    }
    .card{
        width: 100%;
    }
    .service-card{
        width: 95%;
    }
    .footer-content h3{
        font-size: 1.7rem;
    }
    
}
@media screen and (max-width: 325px) {
    html{
        font-size: 14px;
    }
}